.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .errorMessage {
    font-size: 10px;
    color: red;
  }